{%extends 'base.html'%} {%block title%}Agenda{%endblock%} {%block content%}
<div class="offset-1 col-10 list-div">
  <h1>Buscar Consulta</h1>
  <div class="col-9 search-div">
    <form method="GET" id="search-form">
      <input
        class="form-control"
        type="text"
        id="search"
        name="search"
        placeholder="Digite o nome para buscar"
        value="{{ request.GET.search }}"
      />
      <i class="fas fa-search" id="search-btn"></i>
    </form>
  </div>
  <ul class="task-list">
    {% for paciente in paciente %}
    <li class="task-item">
      <span><a href="/consultaview/{{paciente.pk}}">{{paciente.nome}}</a></span>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
      {% if paciente.has_previous %}
      <a href="?page={{paciente.previous_page_number}}"
        ><i class="fas fa-arrow-left"></i
      ></a>
      {% endif %} {% if paciente.paginator.num_pages %}
      <span class="current"
        >{{paciente.number}} de {{paciente.paginator.num_pages}}</span
      >
      {% endif %} {% if paciente.has_next %}
      <a href="?page={{paciente.next_page_number}}"
        ><i class="fas fa-arrow-right"></i
      ></a>
      {% endif %}
    </span>
  </div>
</div>

{%endblock%}
